fastapi
pydantic
pydantic-settings
uvicorn
starlette
nltk
numpy
torch
transformers
tqdm
#sklearn
pandas
numpy
datasets
requests
openai
sacrebleu
sentence-transformers
#pytorch_lightning
#tensorflow_hub
#tensorflow

